image: node:22-bullseye

stages:
  - testing_suite
  - mirror

variables:
  SLACK_CHANNEL: "#_qatesting_stream"

  GIT_DEPTH: 0
  GIT_TRACE: 1
  
  PLAYWRIGHT_BASE_URL: https://hyva-demo.elgentos.io/
  PLAYWRIGHT_PRODUCTION_URL: https://hyva-demo.elgentos.io/
  PLAYWRIGHT_STAGING_URL: https://hyva-demo.elgentos.io/

  MAGENTO_ADMIN_SLUG: $MAGENTO_ADMIN_SLUG
  MAGENTO_ADMIN_USERNAME: $MAGENTO_ADMIN_USERNAME
  MAGENTO_ADMIN_PASSWORD: $MAGENTO_ADMIN_PASSWORD

  MAGENTO_NEW_ACCOUNT_PASSWORD: $MAGENTO_NEW_ACCOUNT_PASSWORD
  MAGENTO_EXISTING_ACCOUNT_EMAIL_CHROMIUM: $MAGENTO_EXISTING_ACCOUNT_EMAIL_CHROMIUM
  MAGENTO_EXISTING_ACCOUNT_EMAIL_FIREFOX: $MAGENTO_EXISTING_ACCOUNT_EMAIL_FIREFOX
  MAGENTO_EXISTING_ACCOUNT_EMAIL_WEBKIT: $MAGENTO_EXISTING_ACCOUNT_EMAIL_WEBKIT
  MAGENTO_EXISTING_ACCOUNT_PASSWORD: $MAGENTO_EXISTING_ACCOUNT_EMAIL_PASSWORD
  MAGENTO_EXISTING_ACCOUNT_CHANGED_PASSWORD: $MAGENTO_EXISTING_ACCOUNT_CHANGED_PASSWORD

  MAGENTO_COUPON_CODE_CHROMIUM: $MAGENTO_COUPON_CODE_CHROMIUM
  MAGENTO_COUPON_CODE_FIREFOX: $MAGENTO_COUPON_CODE_FIREFOX
  MAGENTO_COUPON_CODE_WEBKIT: $MAGENTO_COUPON_CODE_WEBKIT

  CAPTCHA_BYPASS: true

.slack-notification:
  after_script:
    # Slack notification
    - |-
      if [ "$CI_JOB_STATUS" = "success" ]; then
        COLOR="good"
        EMOJI=":white_check_mark:"
      elif [ "$CI_JOB_STATUS" = "failed" ]; then
        COLOR="danger"
        EMOJI=":x:"
      else
        COLOR="warning"
        EMOJI=":warning:"
      fi
      
      PAYLOAD=$(cat << JSON
      {
        "channel": "${SLACK_CHANNEL}",
        "attachments": [
          {
            "title": "Playwright",
            "title_link": "${CI_PIPELINE_URL}",
            "text": "${EMOJI} Status: ${CI_JOB_STATUS}\n Job: ${CI_JOB_NAME}",
            "color": "${COLOR}"
          }
        ]
      }
      JSON
      )
    - >
      curl -X POST ${SLACK_WEBHOOK}
      --header 'Content-Type: application/json; charset=utf-8'
      --data-binary "$PAYLOAD"

mirror_to_github:
  stage: mirror
  only:
    - main
  before_script:
    - mkdir -p ~/.ssh
    - printf "%s\n"  "$GIT_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - git config --global user.name "developer-elgentos"
    - git config --global user.email "developer@elgentos.nl"
  script:
    - git fetch origin main
    - git checkout -B main origin/main
    - git remote add github git@github.com:elgentos/magento2-playwright.git
    - git fetch github main
    - git push github main:gitlab-main

test_mirror_pipeline:
  stage: mirror
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'
  before_script:
    - mkdir -p ~/.ssh
    - printf "%s\n"  "$GIT_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - git config --global user.name "developer-elgentos"
    - git config --global user.email "developer@elgentos.nl"
  script:
    - git ls-remote git@github.com:elgentos/magento2-playwright.git

create_testing_suite:
  stage: testing_suite
  script:
    - echo 'Setting up the testing environment'
    - mkdir -p base-tests
    - npm install
    - npx playwright install-deps
    # Check what files are present
    - ls -l base-tests
    - CI=true npx playwright test --grep "@setup" --reporter=line --workers=3 --max-failures=1
  allow_failure: false
  artifacts:
    when: always
    paths:
      - node_modules/
      - playwright-report/
      - test-results/
      - base-tests/
      - tests/
      - .env
      - bypass-captcha.config.ts
      - playwright.config.ts
      - tsconfig.json

# Build and test suite using this new version of the suite
# Ensure that you've enabled the 'pipeline must succeed' setting in your branch.
run_testing_suite:
  stage: testing_suite
  script:
    - echo 'Running test suite'
    - npx playwright install --with-deps
    - CI=true npx playwright test --workers=3 --grep-invert "@setup" --max-failures=1
  needs: [create_testing_suite] #optional, stage order already enforces this
  dependencies:
    - create_testing_suite
  allow_failure: false
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
