#folders
.idea
.vscode
node_modules/
/test-results/
/auth-storage/
/playwright-report/
/base-tests/
/i18n/

#files
/*.config.ts
/.env
/tsconfig.json

# playwright
/app/design/frontend/{vendor}/{theme}/web/playwright/*
!/app/design/frontend/{vendor}/{theme}/web/playwright/tests/
!/app/design/frontend/{vendor}/{theme}/web/playwright/package.json
!/app/design/frontend/{vendor}/{theme}/web/playwright/package-lock.json